.container{
    width: 100%;
    position: absolute;
    display: flex;
    background-color: lightblue;
}
.logo{
    height: 70px;
    display: flex;
    position: relative;
}
.heading{
    position: relative;
    display: inline-block;
    margin-left: 30%;
    margin-top: 1%;
    color: brown;
    font-size: 40px;
}
.nav{
    position: relative;
    display: flex;
    background-color: lightgrey;
}
.nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav li{
    margin: 10px;
    padding: 5px 10px;
}